<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="admin.master.cs" Inherits="WebFormApp.pages.admin.admin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title><asp:ContentPlaceHolder ID="HeadTitle" runat="server"></asp:ContentPlaceHolder></title>
    
    <asp:ContentPlaceHolder ID="HeadCssJs" runat="server"></asp:ContentPlaceHolder>
</head>
<body>

    <div>
        <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
    </div>

</body>
</html>
